.card
{
	margin: 5% 20%;
	background-color: #12402D;
	border-radius: 25px;
}

.text
{
	font-size: 2em;
	padding: 1em;
}


.nav-text
{
	color: white;
	display: inline;
	margin: 2vw;
	cursor: pointer;
	font-size: 1.5em;
}

.green-text
{
	color: rgb(68, 189, 50);
	display: inline; margin: 1vw;
	cursor: pointer;
	font-size: 1.5em;
	text-decoration: underline;
}

.icon-bar {
    width: 100%;
    height: 4em;
    overflow: auto;
	background-color: #000;
	position: fixed;	
	left: 0;
    bottom: 0;
}

.icon-bar a {
    float: left;
    width: 25%;
    text-align: center;

    color:  white;
    font-size: 3em;

}



